.editor-panel > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.big-title {
    font-size: 24px;
}

.padded {
    padding: 1.5rem;
}

.tile-container > *:not(:last-child) {
    margin-right: 2rem;
}

/* -------------------------------- */

.sapMInputBaseReadonlyWrapper {
    border: none !important;
}